In [1]:
!pip3 install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Requirement already satisfied: six in /usr/lib/python3/dist-packages (from ipython-sql) (1.16.0)
Collecting sqlparse
  Downloading sqlparse-0.4.4-py3-none-any.whl (41 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 41.2/41.2 KB 3.1 MB/s eta 0:00:00
Collecting prettytable
  Downloading prettytable-3.8.0-py3-none-any.whl (27 kB)
Collecting sqlalchemy>=2.0
  Downloading SQLAlchemy-2.0.19-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (2.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 2.7/2.7 MB 42.6 MB/s eta 0:00:00a 0:00:01
Requirement already satisfied: ipython in /usr/local/lib/python3.10/dist-packages (from ipython-sql) (8.14.0)
Collecting ipython-genutils
  Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Requirement already satisfied: typing-extensions>=4.2.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=2.0->ipython-sql) (4.7.1)
Collecting greenlet!=0.4.17
  Downloading greenlet-2.0.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (613 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 613.7/613.7 KB 55.7 MB/s eta 0:00:00
Requirement already satisfied: prompt-toolkit!=3.0.37,<3.1.0,>=3.0.30 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (3.0.39)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.19.0)
Requirement already satisfied: stack-data in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.6.2)
Requirement already satisfied: traitlets>=5 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (5.9.0)
Requirement already satisfied: pexpect>4.3 in /usr/lib/python3/dist-packages (from ipython->ipython-sql) (4.8.0)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: pygments>=2.4.0 in /usr/local/lib/python3.10/dist-packages (from ipython->ipython-sql) (2.16.1)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prettytable->ipython-sql) (0.2.6)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: asttokens>=2.1.0 in /usr/local/lib/python3.10/dist-packages (from stack-data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: executing>=1.2.0 in /usr/local/lib/python3.10/dist-packages (from stack-data->ipython->ipython-sql) (1.2.0)
Requirement already satisfied: pure-eval in /usr/local/lib/python3.10/dist-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Installing collected packages: ipython-genutils, sqlparse, prettytable, greenlet, sqlalchemy, ipython-sql
Successfully installed greenlet-2.0.2 ipython-genutils-0.2.0 ipython-sql-0.5.0 prettytable-3.8.0 sqlalchemy-2.0.19 sqlparse-0.4.4
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [2]:
%load_ext sql

In [3]:
%sql sqlite:///data_learners.db

In [14]:
%%sql 

CREATE TABLE data_learners(
 id INT PRIMARY KEY,
 first_name TEXT,
 last_name TEXT,
 age int,
 birth_month TEXT,
 state TEXT,
 fav_color TEXT,
 fav_food TEXT,
 fav_animal TEXT);

 * sqlite:///data_learners.db
Done.

[]

In [15]:
%%sql 

SELECT *
FROM data_learners;

 * sqlite:///data_learners.db
Done.

[]

In [19]:
%%sql

INSERT INTO data_learners VALUES
(1, 'Alice', 'Johnson', 28, 'January', 'California', 'Blue', 'Pizza', 'Dog'),
(2, 'Bob', 'Smith', 35, 'March', 'New York', 'Red', 'Burgers', 'Cat'),
(3, 'Catherine', 'Williams', 22, 'August', 'Texas', 'Green', 'Sushi', 'Bird'),
(4, 'David', 'Anderson', 45, 'June', 'Florida', 'Yellow', 'Pasta', 'Rabbit'),
(5, 'Emily', 'Brown', 31, 'May', 'California', 'Purple', 'Tacos', 'Fish'),
(6, 'Frank', 'Miller', 29, 'October', 'Illinois', 'Orange', 'Steak', 'Dog'),
(7, 'Grace', 'Martinez', 27, 'July', 'Texas', 'Pink', 'Ice Cream', 'Cat'),
(8, 'Henry', 'Wilson', 38, 'September', 'New York', 'Blue', 'Thai Food', 'Bird'),
(9, 'Isabella', 'Garcia', 24, 'April', 'Florida', 'Red', 'Burgers', 'Rabbit'),
(10, 'Jack', 'Taylor', 33, 'December', 'California', 'Green', 'Sushi', 'Fish'),
(11, 'Oliver', 'Lopez', 26, 'November', 'Texas', 'Purple', 'Pasta', 'Dog'),
(12, 'Penelope', 'Harris', 29, 'March', 'Illinois', 'Yellow', 'Tacos', 'Cat'),
(13, 'Quincy', 'Lee', 31, 'February', 'Florida', 'Orange', 'Steak', 'Bird'),
(14, 'Rachel', 'Scott', 41, 'July', 'New York', 'Pink', 'Ice Cream', 'Rabbit'),
(15, 'Samuel', 'Young', 30, 'June', 'California', 'Blue', 'Thai Food', 'Fish'),
(16, 'Xander', 'Rodriguez', 28, 'May', 'Texas', 'Red', 'Burgers', 'Dog'),
(17, 'Yasmine', 'Nguyen', 37, 'October', 'Illinois', 'Green', 'Sushi', 'Cat'),
(18, 'Zachary', 'Gonzalez', 25, 'August', 'Florida', 'Purple', 'Pasta', 'Bird'),
(19, 'William', 'Turner', 32, 'November', 'California', 'Blue', 'Pizza', 'Rabbit'),
(20, 'Sophia', 'Walker', 29, 'January', 'New York', 'Red', 'Burgers', 'Fish'),
(21, 'Jackson', 'Brown', 27, 'May', 'Texas', 'Green', 'Sushi', 'Dog'),
(22, 'Olivia', 'Miller', 41, 'August', 'Florida', 'Yellow', 'Pasta', 'Cat'),
(23, 'Liam', 'Davis', 24, 'March', 'California', 'Purple', 'Tacos', 'Bird'),
(24, 'Emma', 'Martinez', 38, 'June', 'Illinois', 'Orange', 'Steak', 'Rabbit'),
(25, 'Noah', 'Wilson', 33, 'September', 'Texas', 'Pink', 'Ice Cream', 'Fish'),
(26, 'Ava', 'Taylor', 31, 'April', 'New York', 'Blue', 'Thai Food', 'Dog'),
(27, 'James', 'Harris', 26, 'October', 'Florida', 'Red', 'Burgers', 'Cat'),
(28, 'Sophia', 'Garcia', 39, 'July', 'California', 'Green', 'Sushi', 'Bird'),
(29, 'Michael', 'Anderson', 28, 'November', 'Texas', 'Purple', 'Pasta', 'Rabbit'),
(30, 'Olivia', 'Lopez', 30, 'March', 'Illinois', 'Yellow', 'Tacos', 'Fish');

 * sqlite:///data_learners.db
30 rows affected.

[]

In [20]:
%%sql

INSERT INTO data_learners VALUES
(31, 'Ella', 'Anderson', 29, 'April', 'Florida', 'Blue', 'Sushi', 'Cat'),
(32, 'Lucas', 'Johnson', 28, 'June', 'California', 'Green', 'Burgers', 'Dog'),
(33, 'Aria', 'Smith', 34, 'November', 'Texas', 'Red', 'Pizza', 'Rabbit'),
(34, 'Liam', 'Brown', 26, 'August', 'New York', 'Yellow', 'Tacos', 'Fish'),
(35, 'Ava', 'Miller', 32, 'December', 'Illinois', 'Orange', 'Steak', 'Bird'),
(36, 'Mia', 'Martinez', 31, 'July', 'Florida', 'Purple', 'Pasta', 'Cat'),
(37, 'Noah', 'Wilson', 37, 'March', 'Texas', 'Pink', 'Ice Cream', 'Dog'),
(38, 'Oliver', 'Garcia', 40, 'May', 'California', 'Blue', 'Burgers', 'Rabbit'),
(39, 'Sophia', 'Taylor', 23, 'January', 'New York', 'Green', 'Sushi', 'Fish'),
(40, 'Emma', 'Lopez', 36, 'September', 'Florida', 'Red', 'Pizza', 'Cat'),
(41, 'Isabella', 'Harris', 30, 'October', 'Texas', 'Yellow', 'Tacos', 'Dog'),
(42, 'James', 'Williams', 26, 'February', 'Illinois', 'Orange', 'Steak', 'Bird'),
(43, 'Jackson', 'Walker', 33, 'July', 'California', 'Purple', 'Burgers', 'Rabbit'),
(44, 'Ethan', 'Turner', 25, 'June', 'New York', 'Pink', 'Pasta', 'Fish'),
(45, 'Olivia', 'Nguyen', 28, 'November', 'Florida', 'Green', 'Ice Cream', 'Cat'),
(46, 'Sophia', 'Rodriguez', 22, 'May', 'Texas', 'Blue', 'Sushi', 'Dog'),
(47, 'Liam', 'Scott', 39, 'April', 'Illinois', 'Red', 'Burgers', 'Rabbit'),
(48, 'Emma', 'Gonzalez', 31, 'December', 'California', 'Yellow', 'Tacos', 'Fish'),
(49, 'Noah', 'Davis', 27, 'September', 'New York', 'Orange', 'Steak', 'Cat'),
(50, 'Ava', 'Lee', 29, 'January', 'Texas', 'Purple', 'Pasta', 'Dog'),
(51, 'Oliver', 'Smith', 38, 'August', 'Florida', 'Pink', 'Pizza', 'Rabbit'),
(52, 'Mia', 'Brown', 24, 'March', 'Illinois', 'Blue', 'Burgers', 'Fish'),
(53, 'Ella', 'Miller', 30, 'October', 'California', 'Green', 'Sushi', 'Bird'),
(54, 'Lucas', 'Martinez', 35, 'February', 'New York', 'Yellow', 'Tacos', 'Cat'),
(55, 'Aria', 'Johnson', 26, 'July', 'Texas', 'Red', 'Pasta', 'Dog'),
(56, 'Liam', 'Williams', 23, 'May', 'Florida', 'Purple', 'Steak', 'Rabbit'),
(57, 'Emma', 'Taylor', 41, 'January', 'California', 'Orange', 'Ice Cream', 'Fish'),
(58, 'Sophia', 'Garcia', 28, 'April', 'Texas', 'Pink', 'Burgers', 'Cat'),
(59, 'Ethan', 'Walker', 37, 'September', 'New York', 'Blue', 'Sushi', 'Dog'),
(60, 'Olivia', 'Turner', 32, 'November', 'Illinois', 'Green', 'Pizza', 'Rabbit');

 * sqlite:///data_learners.db
30 rows affected.

[]

In [21]:
%%sql

SELECT *
FROM data_learners;

 * sqlite:///data_learners.db
Done.

[(1, 'Alice', 'Johnson', 28, 'January', 'California', 'Blue', 'Pizza', 'Dog'),
 (2, 'Bob', 'Smith', 35, 'March', 'New York', 'Red', 'Burgers', 'Cat'),
 (3, 'Catherine', 'Williams', 22, 'August', 'Texas', 'Green', 'Sushi', 'Bird'),
 (4, 'David', 'Anderson', 45, 'June', 'Florida', 'Yellow', 'Pasta', 'Rabbit'),
 (5, 'Emily', 'Brown', 31, 'May', 'California', 'Purple', 'Tacos', 'Fish'),
 (6, 'Frank', 'Miller', 29, 'October', 'Illinois', 'Orange', 'Steak', 'Dog'),
 (7, 'Grace', 'Martinez', 27, 'July', 'Texas', 'Pink', 'Ice Cream', 'Cat'),
 (8, 'Henry', 'Wilson', 38, 'September', 'New York', 'Blue', 'Thai Food', 'Bird'),
 (9, 'Isabella', 'Garcia', 24, 'April', 'Florida', 'Red', 'Burgers', 'Rabbit'),
 (10, 'Jack', 'Taylor', 33, 'December', 'California', 'Green', 'Sushi', 'Fish'),
 (11, 'Oliver', 'Lopez', 26, 'November', 'Texas', 'Purple', 'Pasta', 'Dog'),
 (12, 'Penelope', 'Harris', 29, 'March', 'Illinois', 'Yellow', 'Tacos', 'Cat'),
 (13, 'Quincy', 'Lee', 31, 'February', 'Florida', 'Orange', 'Steak', 'Bird'),
 (14, 'Rachel', 'Scott', 41, 'July', 'New York', 'Pink', 'Ice Cream', 'Rabbit'),
 (15, 'Samuel', 'Young', 30, 'June', 'California', 'Blue', 'Thai Food', 'Fish'),
 (16, 'Xander', 'Rodriguez', 28, 'May', 'Texas', 'Red', 'Burgers', 'Dog'),
 (17, 'Yasmine', 'Nguyen', 37, 'October', 'Illinois', 'Green', 'Sushi', 'Cat'),
 (18, 'Zachary', 'Gonzalez', 25, 'August', 'Florida', 'Purple', 'Pasta', 'Bird'),
 (19, 'William', 'Turner', 32, 'November', 'California', 'Blue', 'Pizza', 'Rabbit'),
 (20, 'Sophia', 'Walker', 29, 'January', 'New York', 'Red', 'Burgers', 'Fish'),
 (21, 'Jackson', 'Brown', 27, 'May', 'Texas', 'Green', 'Sushi', 'Dog'),
 (22, 'Olivia', 'Miller', 41, 'August', 'Florida', 'Yellow', 'Pasta', 'Cat'),
 (23, 'Liam', 'Davis', 24, 'March', 'California', 'Purple', 'Tacos', 'Bird'),
 (24, 'Emma', 'Martinez', 38, 'June', 'Illinois', 'Orange', 'Steak', 'Rabbit'),
 (25, 'Noah', 'Wilson', 33, 'September', 'Texas', 'Pink', 'Ice Cream', 'Fish'),
 (26, 'Ava', 'Taylor', 31, 'April', 'New York', 'Blue', 'Thai Food', 'Dog'),
 (27, 'James', 'Harris', 26, 'October', 'Florida', 'Red', 'Burgers', 'Cat'),
 (28, 'Sophia', 'Garcia', 39, 'July', 'California', 'Green', 'Sushi', 'Bird'),
 (29, 'Michael', 'Anderson', 28, 'November', 'Texas', 'Purple', 'Pasta', 'Rabbit'),
 (30, 'Olivia', 'Lopez', 30, 'March', 'Illinois', 'Yellow', 'Tacos', 'Fish'),
 (31, 'Ella', 'Anderson', 29, 'April', 'Florida', 'Blue', 'Sushi', 'Cat'),
 (32, 'Lucas', 'Johnson', 28, 'June', 'California', 'Green', 'Burgers', 'Dog'),
 (33, 'Aria', 'Smith', 34, 'November', 'Texas', 'Red', 'Pizza', 'Rabbit'),
 (34, 'Liam', 'Brown', 26, 'August', 'New York', 'Yellow', 'Tacos', 'Fish'),
 (35, 'Ava', 'Miller', 32, 'December', 'Illinois', 'Orange', 'Steak', 'Bird'),
 (36, 'Mia', 'Martinez', 31, 'July', 'Florida', 'Purple', 'Pasta', 'Cat'),
 (37, 'Noah', 'Wilson', 37, 'March', 'Texas', 'Pink', 'Ice Cream', 'Dog'),
 (38, 'Oliver', 'Garcia', 40, 'May', 'California', 'Blue', 'Burgers', 'Rabbit'),
 (39, 'Sophia', 'Taylor', 23, 'January', 'New York', 'Green', 'Sushi', 'Fish'),
 (40, 'Emma', 'Lopez', 36, 'September', 'Florida', 'Red', 'Pizza', 'Cat'),
 (41, 'Isabella', 'Harris', 30, 'October', 'Texas', 'Yellow', 'Tacos', 'Dog'),
 (42, 'James', 'Williams', 26, 'February', 'Illinois', 'Orange', 'Steak', 'Bird'),
 (43, 'Jackson', 'Walker', 33, 'July', 'California', 'Purple', 'Burgers', 'Rabbit'),
 (44, 'Ethan', 'Turner', 25, 'June', 'New York', 'Pink', 'Pasta', 'Fish'),
 (45, 'Olivia', 'Nguyen', 28, 'November', 'Florida', 'Green', 'Ice Cream', 'Cat'),
 (46, 'Sophia', 'Rodriguez', 22, 'May', 'Texas', 'Blue', 'Sushi', 'Dog'),
 (47, 'Liam', 'Scott', 39, 'April', 'Illinois', 'Red', 'Burgers', 'Rabbit'),
 (48, 'Emma', 'Gonzalez', 31, 'December', 'California', 'Yellow', 'Tacos', 'Fish'),
 (49, 'Noah', 'Davis', 27, 'September', 'New York', 'Orange', 'Steak', 'Cat'),
 (50, 'Ava', 'Lee', 29, 'January', 'Texas', 'Purple', 'Pasta', 'Dog'),
 (51, 'Oliver', 'Smith', 38, 'August', 'Florida', 'Pink', 'Pizza', 'Rabbit'),
 (52, 'Mia', 'Brown', 24, 'March', 'Illinois', 'Blue', 'Burgers', 'Fish'),
 (53, 'Ella', 'Miller', 30, 'October', 'California', 'Green', 'Sushi', 'Bird'),
 (54, 'Lucas', 'Martinez', 35, 'February', 'New York', 'Yellow', 'Tacos', 'Cat'),
 (55, 'Aria', 'Johnson', 26, 'July', 'Texas', 'Red', 'Pasta', 'Dog'),
 (56, 'Liam', 'Williams', 23, 'May', 'Florida', 'Purple', 'Steak', 'Rabbit'),
 (57, 'Emma', 'Taylor', 41, 'January', 'California', 'Orange', 'Ice Cream', 'Fish'),
 (58, 'Sophia', 'Garcia', 28, 'April', 'Texas', 'Pink', 'Burgers', 'Cat'),
 (59, 'Ethan', 'Walker', 37, 'September', 'New York', 'Blue', 'Sushi', 'Dog'),
 (60, 'Olivia', 'Turner', 32, 'November', 'Illinois', 'Green', 'Pizza', 'Rabbit')]